/**
 * Estilos
 */
 
 #menu{
     
 }
 
 .item{
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 90px;
    text-align: center;
    height: 90px;
    margin: 10px;
    cursor: pointer;
 }