body {
 background-color: #34495E;
}

table {
 color: white;
 margin: 0 auto;
 font-size: 25px;
}

th {
 background-color: #16A085;
}

#menu {
 position: fixed;
 top: 50%;
 left: 50%;
 width: 50em;
 height: 40em;
 margin-top: -20em;
 margin-left: -25em;
 background-color: #1A6998;
 border-radius: 20px;
}

#contenido {
 position: fixed;
 top: 50%;
 left: 50%;
 width: 46em;
 height: 35em;
 margin-top: -20em;
 margin-left: -25em;
 background-color: #1A6998;
 border-radius: 20px;
 padding: 30px;
}




/* Panel Izquierdo */

#panel_izquierdo {
 display: table-cell;
}

/* Panel Derecho */

#panel_derecho {
 display: table-cell;
}

.contenedor_boton_menu {
 padding: 70px 105px;
}

.boton_menu_principal {
 width: 170px;
 height: 170px;
 border-radius: 25px;
 text-align: center;
 padding-top: 85%;
 font-size: 15px;
 color: white;
 background-position: center !important;
 background-color: #3D3E4A !important;
}




/**
 * Elementos del menu principal
 */

.item {
 border-radius: 25px;
 border: 2px solid #73AD21;
 padding: 20px;
 width: 160px;
 text-align: center;
 height: 160px;
 margin: 10px;
 cursor: pointer;
 padding-top: 135px;
 color: white;
 font-size: 15px;
 font-weight: bold;
 background-color: #21908E !important;
}

.item:hover {
 background-color: #2C3E50 !important;
}

input[module^="cliente"] {
 background: url(../img/cliente.png);
 background-repeat: no-repeat;
 background-position: center;
}

input[module^="factura"] {
 background: url(../img/factura.png);
 background-repeat: no-repeat;
 background-position: center;
}

input[module^="servicio"] {
 background: url(../img/servicio.png);
 background-repeat: no-repeat;
 background-position: center;
}

input[module^="vehiculo"] {
 background: url(../img/vehiculo.png);
 background-repeat: no-repeat;
 background-position: center;
}


/**
 * Boton "Volver"
 */

#boton_volver {
 border-radius: 10px;
 border: 3px solid #16a085;
 width: 100px;
 height: 40px;
 text-align: center;
 margin: 10px;
 cursor: pointer;
 background: url(../img/volver.png);
 background-repeat: no-repeat;
 background-position: center;
 background-color: #205879;
}

#boton_volver:hover {
 background-color: #2C3E50 !important;
}


/**
 * Boton "Guardar"
 */

#boton_guardar {
 border-radius: 10px;
 border: 3px solid #16a085;
 width: 100px;
 height: 100px;
 text-align: center;
 margin: 10px;
 cursor: pointer;
 background: url(../img/guardar.png);
 background-repeat: no-repeat;
 background-position: center;
 background-color: #205879;
}

#boton_guardar:hover {
 background-color: #2C3E50 !important;
}


/**
 * Boton "Cancelar"
 */

#boton_cancelar {
 border-radius: 10px;
 border: 3px solid #16a085;
 width: 100px;
 height: 100px;
 text-align: center;
 margin: 10px;
 cursor: pointer;
 background: url(../img/cancelar.png);
 background-repeat: no-repeat;
 background-position: center;
 background-color: #205879;
}

#boton_cancelar:hover {
 background-color: #2C3E50 !important;
}


/**
 * Boton "Registrar"
 */

input[id^="boton_registrar"] {
 border-radius: 10px;
 border: 2px solid #445c73;
 padding: 15px;
 text-align: center;
 margin: 10px;
 cursor: pointer;
 font-weight: bold;
 background-color: #16a085;
 color: white;
}

input[id^="boton_registrar"]:hover {
 background-color: #2C3E50 !important;
}


/**
 * Formulario de registro
 */

.tabla_registro {
 margin: 0 !important;
}

.tabla_registro tr {
 height: 40px;
}

.tabla_registro input[type="text"] {
 font-size: 20px;
}


/**
 * Contenedor de botones "Guardar" y "Cancelar"
 */

.contenedor_botones {
 position: fixed;
 bottom: 50px;
 right: 300px;
}


/**
 * Titulo de formulario
 */

.contenedor_titulo {
 width: 100%;
 text-align: center;
 margin-bottom: 40px;
}

.titulo {
 font-size: 55px;
}
